network:
  version: 2
  renderer: networkd
  ethernets:
    {{ new_interface_name }}:
      dhcp4: true
      match:
        macaddress: {{ extracted_mac.stdout }}
      set-name: {{ new_interface_name }}
